<div class="main-header--content main-nav--content clearfix">
  <a href="{{@blog.url}}">
    <div class="{{site-navs}}"> {{>content-header}} </div>
    <h3><span class="back-arrow">â† </span>{{@blog.title}}</h3>
  </a>
</div>
